[DJANGO]
DEBUG=True
PROJECT_NAME=Dango LLM API
SECRET_KEY=e^924i5@n+9-jj$$7b2fqen0)yvcraxbf0c4sku6e3qa#9va56
ADMIN_URL=admin
DOMAIN=localhost
INDEX_URL=https://thebrookhavengroup.com

[POSTGRES]
DB=djangollmapi
USER=postgres
PASS=postgres

[LLM]
MODEL_PACKAGE=tbg_llm_example
MODEL1=EleutherAI/pythia-410m
MODEL2=EleutherAI/pythia-410m
