[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/djangollmapi
ExecStart=/home/ubuntu/.pyenv/versions/djangollmapi/bin/gunicorn -c /home/ubuntu/gunicorn_conf.py djangollmapi.wsgi:application

[Install]
WantedBy=multi-user.target
